// Define your icon sizes in a map
$icon-sizes: (
        'xs': 0.75rem,
        'sm': 0.875rem,
        'md': 24px,
        'lg': 1.125rem,
        'xl': 1.25rem,
        '2xl': 1.5rem,
        '3xl': 1.875rem,
        '4xl': 2.25rem,
        '5xl': 3rem,
);

// Loop through the map to generate classes
@each $size, $value in $icon-sizes {
    .icon-#{$size} {
        font-size:  $value;
        max-width:  $value;
        max-height: $value;
        // Additional styles if needed
    }
}